.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}

.break {
    flex-basis: 100%;
    height: 0;
  }

  #final-password{
      color: #19A179;
  }
  #regenerate{  
    margin-top: 25px;
  }